<% layout("layout") %>


<main>
		<section class="hero_single">
			<div class="wrapper">
				<div class="container">
					<!--
					<h3><strong></strong><br>DİNİ AKADEMİ</h3>
					<p>Dini Akademi platformuna hoş geldiniz, <strong>derslerimizi inceleyiniz.</strong></p>
					-->
				</div>
				<a href="#first_section" class="btn_explore hidden_tablet"><i class="ti-arrow-down"></i></a>
			</div>
		</section>
		<!-- /hero_single -->

		<div class="features clearfix">
			<div class="container">
				<ul>
					<li><i class="pe-7s-study"></i>
						<h4>208 öğrenci</h4><span></span>
					</li>
					<li><i class="pe-7s-cup"></i>
						<h4>54 eğitim</h4><span></span>
					</li>
					<li><i class="pe-7s-target"></i>
						<h4>480 canlı ders</h4><span></span>
					</li>
				</ul>
			</div>
		</div>
		<!-- /features -->

		<div class="container-fluid margin_120_0" id="first_section">
			<div class="main_title_2">
				<span><em></em></span>
				<h2>Dini Akademi'de ki başlıca eğitimler</h2>
				<p></p>
			</div>
				<div class="container margin_60_35">
			<div class="row">
				<% egitim.forEach( function(data) { %>
					<div class="col-xl-3 col-lg-3 col-md-3">q
						<div class="box_grid wow">
							<figure class="block-reveal">
								<div class="block-horizzontal"></div>
								<a href="/egitim/<%= data._id %>" class="wish_bt"></a>
								<a href="/egitim/<%= data._id %>"><img src="../../upload/egitim/<%= data.foto %>" class="img-fluid" alt=""></a>
								<div class="price"><%= data.tutar %> ₺</div>
								<div class="preview"><a href="/egitim/<%= data._id %>"><span>Kursu Görüntüle</span></a></div>
							</figure>
							<div class="wrapper">
								<small><%= data.kategori %></small>
								<h3><%= data.ad %></h3>
								<p><%= data.aciklama %></p>
								<div class="rating"><i class="icon_star voted"></i><i class="icon_star voted"></i><i class="icon_star voted"></i><i class="icon_star"></i><i class="icon_star"></i> <small>(145)</small></div>
							</div>
							<ul>
								<li><i class="icon_clock_alt"></i> 1 saat 30 dakika</li>
								<li><i class="icon_like"></i> 890</li>
							</ul>
						</div>
					</div>
				<% }) %>
			</div>
			<!-- /row -->
		</div>
			<!-- /carousel -->
			<div class="container">
				<p class="btn_home_align"><a href="/egitimler" class="btn_1 rounded">Tüm Kursları Görüntüle</a></p>
			</div>
			<div class="container">
				<div class="main_title_2">
				<span><em></em></span>
				<h2>Ücretsiz Yayın Tekrarları</h2>
				<p></p>
			</div>
				<iframe style="height: 600px" src="https://www.youtube.com/embed/_fvacUYUxyk" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>        
				<iframe style="width: 548px; height: 400px" src="https://www.youtube.com/embed/Oa27ZOUgT4A" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
				<iframe style="width: 548px; height: 400px" src="https://www.youtube.com/embed/kJKBjtDQTWQ" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
			</div>
				<h2 class="text-center">Blog Yazıları</h2>

				<div class="container">
					<div class="row">
						<% blog.forEach( function(data) { %>
						<div class="col-md-2">
							<a href="//<%= data.link %>">
								<img class="img-responsive" style="height: 135px; width: 150px;" src="../upload/blog/<%= data.resim %>">
								<h6 class="text-center"><%= data.baslik %></h6>
							</a>
						</div>
						<% }) %>
					</div>
				</div>

			<!-- /container -->

			<hr>
		</div>
		<!-- /container -->
		<!--/call_section-->
	</main>