<% layout("layout") %>

<div class="row">
	<section class="panel col-md-12">
		<header class="panel-heading">
			<div class="panel-actions">
				<a href="#" class="fa fa-caret-down"></a>
			</div>
							
			<h2 class="panel-title">Eğitmen Düzenle</h2>
		</header>
		<div class="panel-body">
			<% if (egitmen) { -%>
				<form method="post" action="/admin/egitmenduzenle" enctype="multipart/form-data">
					<input type="hidden" name="egitid" value="<%= egitmen._id %>">
					<div class="form-group col-md-4">
						<label class="control-label">Eğitmen Adı : </label>
						<input class="form-control" type="text" name="ad" value="<%= egitmen.ad %>">
					</div>
					<div class="form-group col-md-4">
						<label class="control-label">Eğitmen Soyadı :</label>
						<input type="text" class="form-control" name="soyad" value="<%= egitmen.soyad %>">
					</div>
					<div class="form-group col-md-4">
						<label class="control-label">Eğitmenin Branşı :</label>
						<input type="text" name="brans" class="form-control" value="<%= egitmen.brans %>">
					</div>
					<div class="form-group col-md-12">
						<label class="control-label">Açıklama : </label>
						<textarea class="form-control" name="aciklama" placeholder="Kategori hakkında açıklama" rows="5"><%= egitmen.aciklama %></textarea>
					</div>

					<div class="col-md-12">
						<button type="submit" class="btn btn-primary pull-right">Ekle</button>
					</div>
			</form>
			<% } else { -%>
				
			<% } -%>
		</div>
	</section>
</div>
